
MeShow/.vs/MeShow/v15/Server/sqlite3/
MeShow/MeShow/MeShow.Android/bin/
MeShow/MeShow/MeShow.Android/obj/
MeShow/MeShow/MeShow.iOS/obj/
MeShow/MeShow/MeShow.UWP/obj/
MeShow/MeShow/MeShow/bin/
MeShow/MeShow/MeShow/obj/
MeShow/.vs/MeShow/v15/.suo
MeShow/.vs/MeShow/DesignTimeBuild/.dtbcache
MeShow/MeShow/MeShow.iOS/bin/
MeShow/MeShow/MeShow.UWP/bin/
MeShow/.vs/MeShow/xs/sqlite3/db.lock
MeShow/.vs/MeShow/xs/sqlite3/storage.ide
MeShow/.vs/MeShow/xs/sqlite3/storage.ide-shm
MeShow/.vs/MeShow/xs/sqlite3/storage.ide-wal
.DS_Store
MeShow/.vs/MeShow/xs/UserPrefs.xml
Pic98/src/Pic98/Pic98.debug.exe
Pic98/bin/Pic98.exe
Pic98/src/Pic98/wwwroot/Image/Vip/
ClientSDKDemo/ClientSDKDemo/bin/
ClientSDKDemo/ClientSDKDemo/obj/
ClientSDKDemo/packages/
subraC/cloudfunctions/login/node_modules/
renrendian/cloudfunctions/node_modules/
SubracBackend/SubracBackend/node_modules/
renrendianBackend/renrendianBackend/renrendianBackend/node_modules/
renrendianBackend/renrendianBackend/renrendianBackend/setup/qcloud.json
renrendianBackend/renrendianBackend/.vs/renrendianBackend/v15/.suo
renrendianBackend/renrendianBackend/renrendianBackend/
renrendianBackend/renrendianBackend/.vs/renrendianBackend/v15/.suo
renrendianBackend/renrendianBackend/.vs/renrendianBackend/v15/.suo
Pic98/src/Pic98/Pic98
Pic98/src/Pic98/Pic98.debug
Pic98/src/Pic98/Pic98
Pic98/src/Pic98/wwwroot/3rd/tinymce/
Memeda/Memeda/merges/
Memeda/Memeda/bin/
Memeda/Memeda/bld/
tushare/.vscode/ipch/27d11a09dac6997a/mmap_address.bin
